<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cubetalktest.cubetalk">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:name="com.cubetalktest.cubetalk.mesibo.MainApplication"
        android:allowBackup="false"
        android:appComponentFactory="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup,appComponentFactory">

        <activity android:name="com.cubetalktest.cubetalk.activities.ExpertEaningStatisticsActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <!-- [START fcm_default_icon] -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_ic_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/ic_launcher_background" /> <!-- [END fcm_default_icon] -->
        <!-- [START fcm_default_channel] -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" /> <!-- [END fcm_default_channel] -->
        <activity
            android:name="com.cubetalktest.cubetalk.activities.EmptyActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cubetalktest.cubetalk.activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cubetalktest.cubetalk.activities.OnboardingActivity"
            android:label="@string/title_activity_onboarding"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cubetalktest.cubetalk.activities.IntroScreenActivity"
            android:label="@string/title_activity_intro_screen"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />
        <activity
            android:name="com.cubetalktest.cubetalk.activities.UserRegistrationActivity"
            android:label="@string/title_activity_registration"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.cubetalktest.cubetalk.activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.cubetalktest.cubetalk.activities.ForgotPasswordActivity"
            android:label="@string/title_activity_forgot_password"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.cubetalktest.cubetalk.activities.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cubetalktest.cubetalk.activities.UserEditProfileActivity"
            android:label="@string/title_activity_edit_profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.cubetalktest.cubetalk.activities.ExpertIntroScreenActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cubetalktest.cubetalk.activities.ExpertRegistrationStepOneActivity"
            android:label="@string/title_activity_expert_registration_step_one"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.cubetalktest.cubetalk.activities.ExpertRegistrationStepTwoActivity"
            android:label="@string/title_activity_expert_registration_step_two"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.cubetalktest.cubetalk.activities.ExpertDashboardActivity"
            android:label="@string/title_activity_expert_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cubetalktest.cubetalk.activities.ExpertViewUploadDocumentActivity"
            android:label="@string/title_activity_expert_edit_profile"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.cubetalktest.cubetalk.activities.SpecialityDetailActivity"
            android:label="@string/title_activity_speciality_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cubetalktest.cubetalk.activities.ChangePasswordActivity"
            android:label="@string/title_activity_change_password"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.cubetalktest.cubetalk.activities.ExpertViewProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cubetalktest.cubetalk.activities.ViewExpertsByTopicActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cubetalktest.cubetalk.activities.ViewExpertDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cubetalktest.cubetalk.activities.BookExpertActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.cubetalktest.cubetalk.activities.SlotSelectionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cubetalktest.cubetalk.activities.VerifyExpertBookingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cubetalktest.cubetalk.activities.PaymentActivity"
            android:label="Payment mode selection" />
        <activity
            android:name="com.cubetalktest.cubetalk.activities.CustomYouTubeVideoPlayerActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cubetalktest.cubetalk.activities.UserUpcomingBookingsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cubetalktest.cubetalk.activities.UserPastBookingsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cubetalktest.cubetalk.activities.ExpertBookingManagementActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cubetalktest.cubetalk.activities.CreditShellActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cubetalktest.cubetalk.activities.EarningStatisticsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cubetalktest.cubetalk.activities.ContactAdminActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cubetalktest.cubetalk.activities.CancelBookingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cubetalktest.cubetalk.activities.RescheduleBookingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cubetalktest.cubetalk.activities.RescheduleSlotSelcetionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cubetalktest.cubetalk.activities.ExpertRefundRequestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="com.cubetalktest.cubetalk.activities.VideoCallActivity"
            android:screenOrientation="portrait" />
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name="com.cubetalktest.cubetalk.mesibicall.CallActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:windowActionBar="false"
            android:windowFullscreen="true"
            android:windowNoTitle="true"
            />
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name="com.cubetalktest.cubetalk.mesibicall.CallActivity1"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:windowActionBar="false"
            android:windowFullscreen="true"
            android:windowNoTitle="true"
            />

        <service
            android:name="com.cubetalktest.cubetalk.services.firebase.CubeTalkFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!--
<service android:name=".firebase.MyFirebaseMessagingService">
        <intent-filter>
            <action android:name="com.google.firebase.MESSAGING_EVENT" />
        </intent-filter>
    </service>
        -->
        <!--
  <service android:name=".firebase.InstanceIdService">
    <intent-filter>
        <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
    </intent-filter>
</service>
        -->
        <service android:name="com.cubetalktest.cubetalk.mesibos.MesiboGcmListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.cubetalktest.cubetalk.mesibos.MesiboInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name="com.cubetalktest.cubetalk.mesibos.MesiboRegistrationIntentService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service
            android:name="com.cubetalktest.cubetalk.mesibos.MesiboJobIntentService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:authorities="${applicationId}.fileprovider"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="android:resource" />
        </provider>

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_lpfsdV6NUIVf2k"
            />
    </application>

</manifest>